nav {
  display: block;
  position: fixed;
  width: 250px;
  max-width: 25%;
  height: 100%;
  z-index: 100;
  background-color: yellow;
}
main{
  display: block;
  position: relative;
  height: 100%;
  max-width: 100%;
  width: calc(100% - 250px);
  left: 250px;
}

.personal_photo{
  width:200px;
  height: 200px;
}

li {
  margin:10px;
}

.bo {
  background-color: transparent;
  border:0px;
}

.main_row{
  margin-left: 7px;
}

.carousel {
  width:100px;
  height:30px;
}

.img_header{
  width:100%;
  height: 300px;
}

.page2_img{
  width:100%;
  height: 300px;
}
